.navbar{
    /* height: 60px; */
    /* margin-bottom: 10px; */
    
    
    box-shadow: 10px 5px 10px rgb(85, 83, 83);
}

.logo{
    margin-left: 50px;
    width: 150px;
    height: 80px;
}
.nav-link{
    font-weight: 600;
    margin-left: 50px;
}
.navbar-nav{
    margin-left: 50px;
}

/* icons for navbar */
.fa-user-o,.fa-shopping-cart{
    margin-right: 5px;
    font-size: 30px;
}
.form-inline{
    padding-right: 15px;
}




/* card div section */
.cardsection{
    margin-top: 50px;
}
.cardsectiontwo{
    margin-top: 50px;
}
.btn-primary{
    width: 100%;
}

.card{
    box-shadow: 0px 0px 8px lightslategrey;
    width: 200px;
    
}



/* slider section */
.carouselsec{
    margin-top: 50px;
}
.carousel{
    margin-top: 50px;
}



    
    li{
      list-style: none;
    }
.footercontact{
    margin-top: 50px;
    background-color: rgb(54, 48, 48);
}
.fa-phone-square,.fa-whatsapp{
    font-size: 20px;
    color: darkgray;
    margin-left: 10px;
}
.fa-facebook-square,.fa-twitter-square,.fa-instagram,.fa-youtube-square{
    margin-left: 10px;
    font-size: 30px;
    color: darkgray;
    
}
.fa-facebook-square:hover,.fa-twitter-square:hover,.fa-instagram:hover,.fa-youtube-square:hover{
    color: black;

}
#social{
    display: inline-flex;
}
h3{
    margin-top: 30px;
}
.ul-contact{
    margin-top: 40px;
}
#about{
    color: darkgray;
text-align: center;

}
h3{
    color: darkgray;
}
.copyright{
    margin-top: 30px;
    color: darkgray;
    text-align: center;
}
li{
    color: darkgray;
}
a{
    color: darkgrey;
    list-style: none;
}
a:hover{
color: black;
}


/* footer section */
.footer-body{
    /* background-color: mediumturquoise; */
    margin-top: 10px;
    padding-bottom: 0px;
    text-align: center;
}
.footer{
    background-color: orange;
}
#home:hover{
color: chartreuse;

}
.fa-whatsapp{
    margin-left: 10px;
}